/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.main-app {
  padding-top: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.text-center {
  text-align: center;
}

.video-detail, .video-content, .loading-text {
  padding-top: 25px;
}

.video-list img {
  max-width: 128px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.list-group-item {
  cursor: pointer;

  &:hover {
    background-color: #eee;
  }
}

.search-bar {
  padding: 25px;
}
